<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ascender</key>
  <integer>800</integer>
  <key>capHeight</key>
  <integer>736</integer>
  <key>copyright</key>
  <string>Copyright 2024 The Aime-MX Project Authors (https://github.com/AriafarKhosravi/Aime.git)</string>
  <key>descender</key>
  <integer>-200</integer>
  <key>familyName</key>
  <string>AimeMX</string>
  <key>guidelines</key>
  <array>
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>name</key>
    <string>m</string>
    <key>x</key>
    <integer>0</integer>
    <key>y</key>
    <integer>250</integer>
  </dict>
  </array>
  <key>italicAngle</key>
  <integer>0</integer>
  <key>openTypeGaspRangeRecords</key>
  <array>
  <dict>
    <key>rangeGaspBehavior</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>2</integer>
        <integer>3</integer>
      </array>
    <key>rangeMaxPPEM</key>
    <integer>65535</integer>
  </dict>
  </array>
  <key>openTypeHeadCreated</key>
  <string>2024/04/27 05:42:44</string>
  <key>openTypeHeadFlags</key>
  <array>
  </array>
  <key>openTypeHheaAscender</key>
  <integer>800</integer>
  <key>openTypeHheaCaretOffset</key>
  <integer>-0</integer>
  <key>openTypeHheaDescender</key>
  <integer>-200</integer>
  <key>openTypeHheaLineGap</key>
  <integer>100</integer>
  <key>openTypeNameDescription</key>
  <string>The Aime-MX typeface consists of two styles: regular and slanted. It has a weight of 400 and includes Latin pro-Extended glyphs. The typeface is designed with both full-width and half-width sharp/soft-curved lines. To remember Adelaida G.</string>
  <key>openTypeNameDesigner</key>
  <string>Ariafar Khosravi</string>
  <key>openTypeNameDesignerURL</key>
  <string>https://about.amax.ir</string>
  <key>openTypeNameLicense</key>
  <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
  <key>openTypeNameLicenseURL</key>
  <string>https://scripts.sil.org/OFL</string>
  <key>openTypeNameManufacturer</key>
  <string>Amax Studio</string>
  <key>openTypeNamePreferredFamilyName</key>
  <string>AimeMX</string>
  <key>openTypeNamePreferredSubfamilyName</key>
  <string>Oblique</string>
  <key>openTypeNameVersion</key>
  <string>Version 2.002</string>
  <key>openTypeOS2Panose</key>
  <array>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
    <integer>0</integer>
  </array>
  <key>openTypeOS2Selection</key>
  <array>
    <integer>7</integer>
  </array>
  <key>openTypeOS2StrikeoutPosition</key>
  <integer>300</integer>
  <key>openTypeOS2StrikeoutSize</key>
  <integer>50</integer>
  <key>openTypeOS2SubscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SubscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SubscriptYOffset</key>
  <integer>75</integer>
  <key>openTypeOS2SubscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2SuperscriptXOffset</key>
  <integer>-0</integer>
  <key>openTypeOS2SuperscriptXSize</key>
  <integer>650</integer>
  <key>openTypeOS2SuperscriptYOffset</key>
  <integer>350</integer>
  <key>openTypeOS2SuperscriptYSize</key>
  <integer>600</integer>
  <key>openTypeOS2Type</key>
  <array>
    <integer>2</integer>
  </array>
  <key>openTypeOS2TypoAscender</key>
  <integer>800</integer>
  <key>openTypeOS2TypoDescender</key>
  <integer>-200</integer>
  <key>openTypeOS2TypoLineGap</key>
  <integer>100</integer>
  <key>openTypeOS2WeightClass</key>
  <integer>400</integer>
  <key>openTypeOS2WidthClass</key>
  <integer>5</integer>
  <key>openTypeOS2WinAscent</key>
  <integer>974</integer>
  <key>openTypeOS2WinDescent</key>
  <integer>250</integer>
  <key>postscriptBlueFuzz</key>
  <integer>1</integer>
  <key>postscriptBlueScale</key>
  <real>0.039625</real>
  <key>postscriptBlueShift</key>
  <integer>7</integer>
  <key>postscriptBlueValues</key>
  <array>
    <integer>-20</integer>
    <integer>0</integer>
  </array>
  <key>postscriptFontName</key>
  <string>AimeMX-Oblique</string>
  <key>postscriptForceBold</key>
  <false/>
  <key>postscriptFullName</key>
  <string>AimeMX Oblique</string>
  <key>postscriptIsFixedPitch</key>
  <false/>
  <key>postscriptUnderlinePosition</key>
  <integer>-218</integer>
  <key>postscriptUnderlineThickness</key>
  <integer>10</integer>
  <key>postscriptWeightName</key>
  <string>Regular</string>
  <key>styleMapFamilyName</key>
  <string>AimeMX</string>
  <key>styleMapStyleName</key>
  <string>italic</string>
  <key>styleName</key>
  <string>Oblique</string>
  <key>unitsPerEm</key>
  <integer>1000</integer>
  <key>versionMajor</key>
  <integer>2</integer>
  <key>versionMinor</key>
  <integer>2</integer>
  <key>xHeight</key>
  <integer>561</integer>
</dict>
</plist>
